<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PersonalServlet</servlet-name>
        <servlet-class>PersonalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileBean</servlet-name>
        <servlet-class>ProfileBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProfileServlet</servlet-name>
        <servlet-class>ListProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadEditServlet</servlet-name>
        <servlet-class>LoadEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProfileServlet</servlet-name>
        <servlet-class>DeleteProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDeleteServlet</servlet-name>
        <servlet-class>LoadDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonalServlet</servlet-name>
        <url-pattern>/PersonalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileBean</servlet-name>
        <url-pattern>/ProfileBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProfileServlet</servlet-name>
        <url-pattern>/ListProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadEditServlet</servlet-name>
        <url-pattern>/LoadEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProfileServlet</servlet-name>
        <url-pattern>/DeleteProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDeleteServlet</servlet-name>
        <url-pattern>/LoadDeleteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
